#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Abe&apos;s Category"
            id="${artefactId}.commands.category">
      </category>
      <command
            name="Abe&apos;s Command(template)mmand"
            categoryId="${artefactId}.commands.category"
            id="${artefactId}.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="${artefactId}.commands.sampleCommand"
            class="testplugin1.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="${artefactId}.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="The Kiggys(template)"
               mnemonic="M"
               id="${artefactId}.menus.sampleMenu">
            <command
                  commandId="${artefactId}.commands.sampleCommand"
                  icon="icons/blue-ball.gif"
                  id="${artefactId}.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="${artefactId}.toolbars.sampleToolbar">
            <command
                  commandId="${artefactId}.commands.sampleCommand"
                  icon="icons/blue-ball.gif"
                  tooltip="Say hello world"
                  id="${artefactId}.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
