#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="template.mvn.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.kiggy.Application">
         </run>
      </application>
   </extension>
   <extension
         id="template_product_new"
         point="org.eclipse.core.runtime.products">
      <product
            application="template.mvn.application"
            name="Abe&apos;s test product">
         <property
               name="appName"
               value="Abe&apos;s test product">
         </property>
      </product>
   </extension>
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.kiggy.Perspective"
            id="template-1.perspective">
      </perspective>
   </extension>

</plugin>
