<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Abe&apos;s Category"
            id="test-plugin-1.commands.category">
      </category>
      <command
            name="Abe&apos;s Command(template)mmand"
            categoryId="test-plugin-1.commands.category"
            id="test-plugin-1.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="test-plugin-1.commands.sampleCommand"
            class="testplugin1.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="test-plugin-1.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="The Kiggys(template)"
               mnemonic="M"
               id="test-plugin-1.menus.sampleMenu">
            <command
                  commandId="test-plugin-1.commands.sampleCommand"
                  icon="icons/blue-ball.gif"
                  id="test-plugin-1.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="test-plugin-1.toolbars.sampleToolbar">
            <command
                  commandId="test-plugin-1.commands.sampleCommand"
                  icon="icons/blue-ball.gif"
                  tooltip="Say hello world"
                  id="test-plugin-1.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
